.drag_label {
    display: block;
    background-image: url('/img/drag.png');
    width: 50px;
    height: 50px;
    float: left;
    cursor: move;
    margin-left: 5px;

}

.query-builder.form-inline {
    width: 90%;
    float: left;
}